extends ../layout 

//- 프로젝트 상세 설명
block content
  .container 
    form(action="#", method="post")
      h1.text-center-mt-5 Project Details


      div.card-group 
        .card 
          h4 프로젝트명
          p.name= project.project_name
          h4 프로젝트 설명
          p.details= project.description
          h4 프로젝트 담당자
          p.PM 4조
          h4 거래처
          p.client= project.Customer.customer_name
          h4 투입 직원
          h6.employee= project.project_emp[0].name
          p.duty 직무: FrontEnd
          h6.employee 이름: 저팔계
          p.duty 직무: BackEnd
          h4 진행 상태
          p.status= project.state

          .chart-container
            .chart
              .chart-row.chart-period
                .chart-row-item
                span January
                span February
                span March
                span April
                span May
                span June
                span July
                span August
                span September
                span October
                span November
                span December
              .chart-row.chart-lines
                span
                span
                span
                span
                span
                span
                span
                span
                span
                span
                span
                span
              .chart-row
                .chart-row-item 1
                ul.chart-row-bars
                  li.chart-li-one Planning
              .chart-row
                .chart-row-item 2
                ul.chart-row-bars
                  li.chart-li-two-a Meeting
                  li.chart-li-two-b Analysis
              .chart-row
                .chart-row-item 3
                ul.chart-row-bars
                  li.chart-li-three Design
              .chart-row
                .chart-row-item 4
                ul.chart-row-bars
                  li.chart-li-four Development
              .chart-row
                .chart-row-item 5
                ul.chart-row-bars
                  li.chart-li-five Testing
              .chart-row
                .chart-row-item 6
                ul.chart-row-bars
                  li.chart-li-six Maintenance
              .chart-row
                .chart-row-item 7
                ul.chart-row-bars
                  li.chart-li-seven Meeting

          if(authorization == 1)
            a.btn.btn-outline-dark(href=`/management/proejct/${project.project_no}/edit`) 프로젝트 수정</a>
            a.btn.btn-outline-dark(href=`/management/project/${project.project_no}/delete`) 프로젝트 삭제</a>
          <a href="list" class="btn btn-outline-dark">List로 돌아가기</a>




