extends ../layout 

//- 프로젝트 list 확인
block content
  .container
    h1.text-center-mt-5 프로젝트 목록

    each project in projects
      .card-group 
        .card 
          h5.project_name= project.project_name
          p.start_date= project.start_date
          p.end_date= project.end_date
          p.duty= project.duty
          p.state= project.state
          .d-grid.gap-2.mt-2
            a.btn.btn-outline-warning(href="/project/details") 자세히


      //- .form-group
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 직원 번호
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 프로젝트 번호
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 참여 일자
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 업무
    

