extends ../layout
//-동료평가 입력페이지
block content
  .container.inputBackground
    .evaluationView
      .row
        h3 동료평가
      br 
      .row  
        .col 
            h3.mb-3.ml-3 평가 프로젝트
            //- input.form-control(type="text" name="project" value=`project_name` readonly)
            select#project.form-select(name="project" size="1")
        .col
            h3.mb-3.ml-3 평가 직원
            //- input.form-control(type="text" name="employee" value=`employee_name` readonly)
            select#employee.form-select(name="project" size="1")
      br
      each item in items
        form#peer_evaluation_form(action="/", method='post')
          .form-group
              label(for="inputWorkScore")= item.item_title
              input#inputworkscore.form-control(type="number" name=`${item.evaluation_item_no}_score` min="0" max="100" placeholder="0~100점")
          .form-group
              label(for="inputWorkContent")= item.item_title `세부 내용`
              input#inputworkcontent.form-control(type="text" name=`${item.evaluation_item_no}_content` placeholder=`${item.item_example}`)
        button.signinButton(type="submit") 평가 등록