extends ../layout

//- 직원 조회 페이지
block content
  .container
    form(action="/detailEmployee", method="post")
    h1.text-center.mt-5 직원 Information

    div.card-group 
        .card
            .card-body 
                h4 이름
                p.name= employee.name
                h4 사번
                p.nu= employee.emp_no
                h4 부서
                p.dept= employee.Department.dept_name
                h4 skill 
                each skill in employee.emp_skill
                    p.skill= skill.skill_name
                
                if(authorization == 1)
                    a.btn.btn-outline-dark(href=`/employee/delete/${employee.emp_no}`) 직원 삭제
                a.btn.btn-outline-dark(href="#" class="btn btn-outline-dark" style="float: right") List로 돌아가기