extends ../layout

//- 마이 페이지
block content
    form(action=`/mypage/edit/${employee.emp_no}`, method="POST")
        div(name="myprofileedit")
        section.fdb-block.fp-active(data-block-type="contents" data-id="1" draggable="true")
            .container.tableStyle
                br
                br
                br
                .mypageView
                    .row
                        .col
                            h1 마이페이지 수정
                    .row
                        .col
                            h3 이름
                                input.mypageInput(type="text", name="name", value=`${employee.name}` required)
                    .row
                        .col
                            h3 아이디
                                input.mypageInput(type="text", name="id", disabled)
                                
                    .row
                        .col
                            h3 비밀번호
                                input.mypageInput(type="password", name="password" placeholder="new password", value=`${employee.PWD}` required)
                    .row
                        .col
                            h3 학력
                                label.form-label(for="inputEducation") 최종학력
                                select#inputState.form-select(name="education" size="1" required)
                                    option(value='high-school') 고졸
                                    option(value='college') 대졸
                                    option(value='master') 석사
                                    option(value='ph-d') 박사
                    .row
                        .col
                            h3 skill 
                                p.text-h3.ml-3
                                    each skill in skills
                                        .form-check.form-check-inline
                                            input.form-check-input(type='checkbox', id=`inlineCheckbox${skill.skill_no}`, name='skills' , value=`${skill.skill_no}`)
                                            label.form-check-label(for=`inlineCheckbox${skill.skill_no}`)= skill.skill_name
                    
                    .row    
                        .col
                            button.loginButton(type="submit") 수정완료
                            button.loginButton(type='button' onclick="location.href='/mypage/delete' ") 회원탈퇴
                    br
